nav {
    background-color: var(--color-pink-a);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 5vh;
}
nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
}
nav li {
    margin: auto 0.5rem;

}
nav a {
    padding: 0.25rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-white);
}

nav li :hover {
    background-color: var(--color-pink-b);
}

.nav-home {
    font-weight: bold;
}

.main-nav {
    display: flex;
    list-style: none;
}

.push {
    margin-left: auto;
}

