.how {
    height: 40vh;
    padding: 10vh 5vw;
    color: #18191A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-content{
    width: 30vw;
}

.how-img {
    height: 60vh;
}

.how-name {
    color: var(--color-1);
}