:root {
    --color-1: #f72585;
    --color-1A: #ff92f0;
    --color-2: #4cc9f0;
    --color-2A: #8ce4ff;
    --color-3: #4361ee;
    --color-3A:rgb(125, 149, 255);
    --color-4: #e6e6e6;
    --color-5: #18191A;
}

.quote {
    font-style: italic;
    margin: 5%;
    color: var(--color-2);
    font-size: 1.15rem;
}