.App {
  text-align: center;
}

#clown-img{
  height: 300px;
  width: 500px;
}

.btn {
  border-radius: 25%;
  padding: 1rem;
}
.btn:hover {
  cursor: pointer;
}
#fb-auth {
  background-color: blue;
  color: white;
}