:root {
    --color-pink-a: #f72585;
    --color-pink-b: #ff92f0;
    --color-lightblue-a: #4cc9f0;
    --color-lightblue-b: #8ce4ff;
    --color-blue-a: #4361ee;
    --color-blue-b:rgb(125, 149, 255);
    --color-white: #e6e6e6;
    --color-black: #18191A;
}

.quote {
    font-style: italic;
    margin: 5%;
    font-size: 1.15rem;
}