.about {
    height: 40vh;
    padding: 5vh 5vw;
    background-color: var(--color-3);
    color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.about-content {
    padding: 2.5vh;
    width: 30vw;
    max-height: 100%;
    overflow: auto;
}

.about-img {
    max-height: 60vh;
    max-width: 45vw;
}

.about-name {
    color: var(--color-2);
}