.about {
    height: 40vh;
    padding: 5vh 5vw;
    background-color: var(--color-blue-a);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.about-content {
    margin: 5vh;
    width: 30vw;
    max-height: 100%;
    overflow: auto;
}

.about-img {
    max-height: 60vh;
    max-width: 45vw;
}

.about-name {
    color: var(--color-lightblue-a);
}